.bg-box {
  display: block;
  height: 1000px;
  width: 1000px;
  background-color: green;
  background-image: url(https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.webp),
    url(./green-png-44873.png), url(./lamp-png-34914.png),
    url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/Ёжик.png/revision/latest?cb=20180209130328&path-prefix=ru),
    url(https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png);
  background-position: center, bottom, top, left, right;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 500px, 50px, 50px, 50px, 50px;
}
